<div class="container-fluid">
  <a class="navbar-brand" href="/home">HOME</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/products/create-product" class="nav-link">Create Product</a>
      </li>

      <li class="nav-item">
        <a href="/products/list-products" class="nav-link">List Products</a>
      </li>

      <li class="nav-item">
        <a href="/products/update-product" class="nav-link">Update Product</a>
      </li>
    </ul>
  </div>
</div>